[build]
  command = "pnpm --filter web build"
  publish = "apps/web/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  VITE_SANITY_PROJECT_ID = "j0yc55ca"
  VITE_SANITY_DATASET = "production"
